8

In [16]:
import pandas as pd
import timeit
size = [10000, 20000, 30000]
operations = {
    "list.pop()" : 'lst.pop()',
    "list.pop(0)" : 'lst.pop(0)',
    "list.append(1)" : 'lst.append(1)',
    "list.insert(0, 1)" : 'lst.insert(0, 1)',
}

results = {op: [] for op in operations}

for n in size:
    for operation, function in operations.items():
        code = f"lst = list(range({n}))"
        time = timeit.timeit(stmt=function, setup=code, number=1000)
        time /= 1000 * 1e6  

        results[operation].append(time)


df = pd.DataFrame(results)

df

     list.pop()   list.pop(0)  list.append(1)  list.insert(0, 1)
0  2.262300e-14  1.026081e-12    2.076300e-14       3.674727e-12
1  3.575600e-14  2.056150e-12    2.920400e-14       6.748692e-12
2  2.605100e-14  3.913532e-12    4.079200e-14       9.368635e-12

9

In [17]:
operations = {
    'deque.pop()': 'dq.pop()',
    'deque.popleft': 'dq.popleft()',
    'deque.append(1)': 'dq.append(1)',
    'deque.appendleft(1)': 'dq.appendleft(1)'
}

results = {op: [] for op in operations}

for n in size:
    for operation, function in operations.items():
        code = f"from collections import deque\n" \
                   f"dq = deque(range({n}))"
        time = timeit.timeit(stmt=function, setup=code, number=1000)
        time /= 1000 * 1e6

        results[operation].append(time)

df = pd.DataFrame(results)
df

    deque.pop()  deque.popleft  deque.append(1)  deque.appendleft(1)
0  2.257900e-14   2.107700e-14     2.829000e-14         2.263200e-14
1  2.314800e-14   2.231600e-14     2.185200e-14         2.184700e-14
2  2.402500e-14   4.026100e-14     2.236300e-14         3.204500e-14

10

In [18]:
operations = {
    'deque[0]': 'dq[0]',
    'deque[N-1]': 'dq[N-1]',
    'deque[int(N/2)]': 'dq[int(N/2)]',
}


results = {op: [] for op in operations}

for n in size:
    for op, stmt in operations.items():
        code = f'from collections import deque; N = {n}; dq = deque(range(N))'
        time = timeit.timeit(stmt=stmt, setup=code, number=1000)
        time /= 1000 * 1e6
        results[op].append(time)

df = pd.DataFrame(results)

df

       deque[0]    deque[N-1]  deque[int(N/2)]
0  2.139800e-14  3.587500e-14     1.569830e-13
1  1.975700e-14  5.138400e-14     2.654850e-13
2  1.502700e-14  3.077700e-14     4.314670e-13